/* Estilos gerais */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-family: Arial, sans-serif;
    font-size: 62.5%;
  }
  html,body{
    scroll-behavior: smooth;
  }
  header {
    background-color: #333;
    padding: 2em;
    width: 100%;
    z-index: 100;
    position: fixed;
    display: inline-flex;
    align-items: center;
  }
  .logo a{
  font-size: 1.4rem;
  color: #fff;
  font-weight: 800;
  pointer-events: none;
  }
  nav{
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 2em;
  }
  
  nav ul li a {
    color: #fff;
    font-size: 1rem;
    transition: .3s all;
  }
  nav ul li a:hover{
    color: #191a1b;
  }
  .audiencia{
    font-size: 1rem;
    display: inline;
  }
  .audiencia a{
    color: #000;
    background: #fff;
    padding: .9em 1em;
    transition: .3s all;
  }
  .audiencia a:hover{
    color: #ffffff;
    background: #4167e4;
  }
  header .class-cadastrar{
  cursor: pointer;
  display: inline-flex;
  width: 12%;
  }
  .class-cadastrar img{
    width: 2.5rem;
  }
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 4em;
  }
  h1, h2 {
    margin-bottom: 1em;
    font-size: 2rem;
  }
  
  p {
    margin-bottom: 1em;
    font-size: 1rem;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
  }
  
  form input, form textarea {
    width: 100%;
    padding: 1em;
    margin-bottom: 2em;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
  }
  
  button {
    background-color: #4167e4;
    color: white;
    padding: 1em 2em;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  
/*----------------------------chat---------------------------*/
.fixo-chat{
  position: relative;
  display: none;
  margin-top: 5rem;
}
.chat-close-modal{
color: #faf8f8;
font-size: 2rem;
font-weight: bold;
cursor: pointer;
margin-left: 20rem;

}
.chat-container {
  position:fixed;
  z-index: 99;
  top:15rem;
  width: 100%;
  margin-left: 88em;
  max-width: 360px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow:3px 3px 12px #00000062;
  background: #0a0a0a;
}

.chat-messages {
  max-height: 300px;
  height: 60vh;
  overflow-y: auto;
  padding: 15px;
  background: linear-gradient(90deg,#f5f5f5,#f3f3f3);
  backdrop-filter: blur(99px);
}

.message {
  margin: 10px;
  background: #4167e4;
  font-size:.9rem;
  padding: 10px;
  width: 70%;
  max-width: 780px;
  word-wrap: break-word; 
  border-radius: 16px;
  color: #ffffff;
}
.received {
  color: #ffffff;
  background: #0a0a0a;
}

.sender {
  font-weight: bold;
  color: #ffffff;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #0a0a0a;
}

.chat-input input[type="text"] {
  flex: 1;
  outline: none;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.chat-input button {
  padding: 10px 10px;
  margin-left: 10px;
  border: none;
  background-color: #fff;
  color: #0a0a0a;
  cursor: pointer;
}
.content-clicle{
 position: absolute;
 margin: 4%;
 bottom: 0;
 right: 0;
}
.cicle{
  position: fixed;
  background: #ffffff;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  margin-top: -1rem;
  margin-left: -2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow:3px 3px 12px #00000062;
}
.cicle img{
  width: 30px;
}
.content-chat{
  display: none;
}
.transitionpopup{
  animation: transitionpopup .5s ease-in-out alternate;
} 

@keyframes transitionpopup {
  0%{
    opacity: 0;
  }
  100%{
  opacity: 100;
  }

}



  footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
  }
  
  /* Estilos específicos */
  #inicio {
    padding: 4rem;
    background-image: url("../imagens/belas.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
  }
  
  #inicio img {
    width: 400px;
    margin-bottom: 2em;
  }
  
  #sobre, #servicos, #contato {
    background-color: #fff;
  }
  
  #servicos ul{
    margin-left: 2em;
    font-size: .8rem;
  }
 #servicos .container {
  display:flex;
  align-items: center;
  position: relative;
 }
 #servicos .container .text{
    position: absolute;
}
  #servicos img {
    width: 100%;
    max-width: 400px;
    margin:2em 40em;
  }
  
  /* modal */
  .modal-adm{
    display: none;
    position: fixed;
    z-index: 199;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-adm .modal-content-adm {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 400px;
    display: flex;
    flex-direction: column;
  }
  .modal-adm .modal-content-adm h2 {
    font-size: 1.6rem;
    margin-top: 5px;
  }
  .Nlabel{
    display: none;
    font-size: .8rem;
    color: #000000;
  }
  
  .modal-adm .close {
    position: absolute;
    right: 0;
    color: #aaa;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    margin:-8px 12px;
  }
  #adminSelect{
    height: 5vh;
    outline: none;
    margin: .9em 0;
    border: 1px solid #4167e4;
  }
  .modal-adm .close:hover,
  .modal-adm .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-adm #saveBtn {
    margin-top: 10px;
    width: 7rem;
  }
  
#audiencia-modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .agenda-modal{
    display: none;

  }
  .modal-conf {
   
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-conf .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
  }
  
  .modal-content {
    position: relative;
    margin: 10% auto;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .close-modal {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #555;
    cursor: pointer;
  }
  
  #audiencia-modal h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #audiencia-modal label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  #audiencia-modal input[type="text"],
  #audiencia-modal input[type="email"],
  #audiencia-modal textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
  }
  
  #audiencia-modal input[type="datetime-local"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  #audiencia-modal button[type="submit"] {
    background-color: #4167e4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #audiencia-modal button[type="submit"]:hover {
    background-color: #000000;
  }
  
  .fade-in {
    animation: fadeIn 0.5s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  
  /* Estilos responsivos */
  @media screen and (max-width: 768px) {
    header {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 2em;
      }
      .audiencia{
        float: none;
        margin-top: 1em;
      }
    nav ul li {
      display: block;
      margin: 1em 0;
    }
  
    .container {
      padding: 2em;
    }
  
    h1, h2 {
      font-size: 2.2rem;
    }
    #servicos .container {
        display:flex; 
        flex-direction: column;
       }
       #servicos img {
        margin-top:16em;
      }
      #audiencia-modal .modal-content {
        max-width: 90%;
      }
  }

  
  